body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
.mnu {
  background-color: #1b5589;
  width: 100%;
}
a {
  text-decoration: none;
  color: #819bad;
}
a:hover {
  color: #fff;
  text-decoration: none;
}
.flextext {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 10px;
  align-items: stretch;
}
.h3 {
  margin-top: 20px;
  text-align: center;
  font-weight: normal;

}
.bold{
  font-weight: bold;
}
.grey{
  color: grey;
  display: inline-block;
  font-size: 12px;
  padding-left: 30px;/*исправить потом */
}
.block1,.block2{
  display: inline-flex;
  justify-content: space-between;
  border: 1px solid rgb(199, 192, 192);
  padding: 10px;
}
.block3{
  border: 1px solid rgb(199, 192, 192);
  padding: 10px;
}
.img1, .img2{
  padding-right: 10px;
}
.bloc1{
  display: inline-flex;
  justify-content: space-between;
  
}
.center{
  justify-content: center;
}
.h4{
  margin-top: 20px;
  text-align: center;
}